<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% block register %}
    {% endblock %}
    {% block login %}
    {% endblock %}
    {% block myProfile %}
    {% endblock %}
    {% block studentFilterPredmeta %}
    {% endblock %}

    {% block izbornikStudent %}
    {% endblock %}
    {% block izbornikProfesor %}
    {% endblock %}
    {% block profesorPredmeti %}
    {% endblock %}    
    {% block students %}
    {% endblock %}
    {% block profesorStudenti1 %}
    {% endblock %}
    {% block profesorStudenti2 %}
    {% endblock %}
    {% block profesorStudenti3 %}
    {% endblock %}

    {% block izbornikAdmin %}
    {% endblock %}
    {% block adminPredmeti %}
    {% endblock %}
    {% block updatePredmeti %}
    {% endblock %}
    {% block addPredmet %}
    {% endblock %}

    {% block adminStudenti %}
    {% endblock %}
    {% block updateStudent %}
    {% endblock %}
    {% block addStudent %}
    {% endblock %}

    {% block adminProfesori %}
    {% endblock %}
    {% block updateProfesor %}
    {% endblock %}  
    {% block addProfesor %}
    {% endblock %}

    {% block studentsSubject %}
    {% endblock %}
    {% block adminUpisniList %}
    {% endblock %}
    {% block error %}
    {% endblock %}
</body>
</html>